.jumbotron {
	text-align: center;
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	margin: 30px 60px 0 60px;
	background-color: #0B7E48;
	color: white;
}

.headerName {
	margin: -30px;
}

.navbar-brand {
	color: #0B7E48 !important;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	padding-left: 80px;
	
}

.navbar-header {
	width: 100%;
}

.right {
	color: #0B7E48 !important;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	float: right;
	padding-right: 80px;
	font-size: 17px;
	margin-top: 14px;
}


.phrase {
	margin-bottom: -16px;
	font-style: italic;
}

body {
	background: url(back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.caption a {
	color: white;
}

.btn {
	width: 100%;
	margin-top: 30px;

}

.thumbnail {
	padding: 6px;
	background-color: #0B7E48;
	border: none;
	color: white;
}

p {
	font-size: 14px;
	text-align: center;
}

.img-rounded {
	margin-bottom: -10px;

}

.middle {
	margin-top: 50px;
	text-align: center;
	color: white;
}

#demo {
	font-size: 15px;
}

#demo2 {
	font-size: 15px;
}

.top {
	margin-top: 80px;
}

#demo p {
	margin-top: 20px;
}

#demo2 p {
	margin-top: 20px;
}

.row {
	margin-top: 40px;
}

.infoContainer {
	text-align: center;
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	margin: 30px 60px 0 60px;
	background-color: #0B7E48;
	color: white;
	border-radius: 5px;
}

.contactForm {
	margin: 30px 60px 0 60px;
	background-color: #0B7E48;
}